include ../mixins/functions

+pageHeader('Aplicación de Normas de Información Financiera NIIF para microempresas', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 1. Identificación de las NIIF para microempresas

    .card
        .card-body
            p La identificación de la NIF para microempresas se realiza mediante el acercamiento al marco legal y conceptual que dan origen al Decreto 2706 de 2012 como instrumento legal que fundamenta su origen e implementación.
            h2.mt-5.text-center Identificación y Clasificación de las NIIF para Colombia
            img.mt-5.img-a(src="assets/images/pages/ilustraciones/img1.svg").img-fluid
    #11
    .header-ecored
        h1 1.1 Marco conceptual

    .card
        .card-body
            p El Marco Conceptual del IASB fue aprobado por el Consejo del IASC en abril de 1989 para su publicación en julio de 1989, y adoptada por el IASB en abril de 2001. Este marco establece los conceptos que subyacen en la preparación y presentación de estados financieros para los usuarios externos.
            br
            p El marco tiene que ver con: 
            img.mt-5.img-a(src="assets/images/pages/ilustraciones/img2.svg").img-fluid
            p.mt-5 Los estados financieros tienen como fin proporcionar información sobre la posición financiera, desempeño y cambios en la situación financiera de una organización que sea útil a una variedad de usuarios al tomar sus decisiones económicas. 

    #12
    .header-ecored
        h1 1.2 Marco legal         

    .card
        .card-body
            p Esta dinámica de las normas internacionales de información financiera (NIIF) tiene todo un soporte conceptual y legal mediante la IASB/IFRS y que para Colombia ha sido concebida en tres grupos y tenido la siguiente clasificación:

            h2.mt-5.text-center Estructura de la NIF para Microempresas

            img.mt-5.img-a(src="assets/images/pages/ilustraciones/img3.svg").img-fluid 
            .row.justify-content-center.align-items-center
                .col-6
                    ul
                        li.text-org
                            h3.text-black Microempresas

                        li.text-org
                            h3.text-black Concepto y principios generales

                        li.text-org
                            h3.text-black Presentación de estados financieros
                            
                        li.text-org
                            h3.text-black Estado de situación financiera

                        li.text-org
                            h3.text-black Estado de resultados

                        li.text-org
                            h3.text-black Inversiones

                        li.text-org
                            h3.text-black Cuentas por cobrar

                        li.text-org
                            h3.text-black Inventarios 

                        li.text-org
                            h3.text-black Propiedades planta y equipo

                        li.text-org
                            h3.text-black Obligaciones financieras y cuentas por pagar

                        li.text-org
                            h3.text-black Obligaciones laborales 

                        li.text-org
                            h3.text-black Ingresos

                        li.text-org
                            h3.text-black Arrendamientos

                        li.text-org
                            h3.text-black Entes económicos en etapa de formación 

                        li.text-org
                            h3.text-black Aplicación por primera vez de la norma de información financiera para las microempresas 

            p.mt-5 Para emitir el decreto de cumplimiento a la NIF para Microempresas se tuvo en cuenta el siguiente marco legal.
            h2.mt-5.text-center
            .row.justify-content-center.align-items-center
                .col-10
                    #accordionExample.accordion.mt-5
                        .card
                            #headingOne.card-header
                                p.mt-3
                                    button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        h3.text-center.text-black Ley 590 del 10 de julio de 2000
                            #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                                
                                    p.px-5 Por la cual se dictan disposiciones para promover el desarrollo de las micro, pequeñas y medianas empresas.
                
                        .card
                            #headingTwo.card-header.bg-color-4
                                p.mt-3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                        h3.text-center.text-black Ley 905 del 2 de agosto de 2004
                            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                                .card-body.bg-color-5
                                    p.px-5 Por la cual se modifica la ley 590 de 2000sobre promoción del desarrollo de la micro, pequeña y mediana empresa Colombiana.
                        
                        .card
                            #headingThree.card-header.bg-color-4
                                p.mt-3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                        h3.text-center.text-black Artículo 75 de la ley 1151 de 2007
                            #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                .card-body.bg-color-5
                                    p.px-5 Por el cual se expide el Plan nacional de desarrollo 2006 - 2010.

                        .card
                            #headingFour.card-header.bg-color-4
                                p.mt-3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseThree')
                                        h3.text-center.text-black Decreto 1878 de 2008
                            #collapseFour.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                .card-body.bg-color-5
                                    p.px-5 Por el cual se modifica parcialmente el Decreto 2649 de 1993.
                        .card
                            #headingFive.card-header.bg-color-4
                                p.mt-3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseThree')
                                        h3.text-center.text-black Ley 1429 de 2010
                            #collapseFive.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                .card-body.bg-color-5
                                    p.px-5 Por la cual se expide la ley de formalización y generación de empleo.
                        .card
                            #headingSix.card-header.bg-color-4
                                p.mt-3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseThree')
                                        h3.text-center.text-black Artículo 43 de la ley 1450 de 2011
                            #collapseSix.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                .card-body.bg-color-5
                                    p.px-5 Por el cual se expide en Plan Nacional de Desarrollo 2010 - 2014.

img.mt-5.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid  

.container
    #13
    .header-ecored
        h1 1.3 Enfoque a las NIIFs en Colombia 

    .card
        .card-body
            p Estos estados financieros preparados con este propósito cubren las necesidades comunes de la mayoría de los usuarios. Sin embargo, los estados financieros no proporcionan toda la información que los usuarios pueden necesitar para tomar decisiones económicas, ya que en gran medida reflejan los efectos financieros de sucesos pasados y no necesariamente proporcionan información financiera. 
            br
            p Con el fin de cumplir con sus objetivos, los estados financieros se preparan sobre la base de valores devengados. Los estados financieros se preparan normalmente sobre la base de que la entidad es una empresa en marcha y siguen en funcionamiento en el futuro. 

    #14
    .header-ecored
        h1 1.4 Características cualitativas 

    .card
        .card-body
            .row.justify-content-center.align-items-center.mt-5
                .col-12.bg-color-naranja.py-4
                    h3.text-center Son atributos que hacen que la información suministrada en los estados financieros, sea útil a una variedad de usuarios. Las principales características cualitativas son:

            .row.justify-content-center.align-items-center.mt-5 
                .col-auto
                    p.text-fz a
                .col-12.col-md-5
                    p Comprensibilidad: es necesario que la información financiera sea clara y fiable lo que hace que sea comprendida por una variedad de usuarios.
                .col-auto
                    p.text-fz b
                .col-12.col-md-5
                    p Relevancia: esta cualidad es esencial porque su importancia le permite ser fundamental en la toma de decisiones económicas siendo clave para evaluar sucesos pasados, presentes y/o futuros.

            .row.justify-content-center.align-items-center.mt-5 
                .col-auto
                    p.text-fz c
                .col-12.col-md-5
                    p Materialidad o Importancia Relativa: la información financiera es material y por tanto relevante, por ello su importancia pues en su esencia permite obtener informes veraces y claros por lo que es muy importante anotar que ella no puede ser omitida y7o errada pues afectará los resultados que implica y por ende la toma de decisiones.

                .col-auto
                    p.text-fz d
                .col-12.col-md-5
                    p Fiabilidad: esta característica está ligada a la anterior, pues hace referencia a la necesidad de registrar la información real y verazmente sin sufrir adulteraciones para que ella represente lo que verdaderamente es y dio lugar a su realización.

            .row.justify-content-center.align-items-center.mt-5 
                .col-auto
                    p.text-fz e
                .col-12.col-md-5
                    p Esencia sobre forma: las transacciones y/o hechos económicos deben ser registrados de acuerdo a dos criterios su forma legal y realidad económica.
                .col-auto
                    p.text-fz f
                .col-12.col-md-5
                    p Prudencia: orientada en el registro de los hechos económicos debe realizarse de acuerdo a su valor económico sin sobreestimar activos y pasivos y subestimar ingresos y gastos.

            .row.justify-content-center.align-items-center.mt-5 
                .col-auto
                    p.text-fz g
                .col-12.col-md-5
                    p Integridad: la información debe ser registrada de manera que no supere su relevancia y el costo como límites de la fiabilidad.
                .col-auto
                    p.text-fz h
                .col-12.col-md-5
                    p Relevancia: esta cualidad es esencial porque su importancia le permite ser fundamental en la toma de decisiones económicas siendo clave para evaluar sucesos pasados, presentes y/o futuros.

            .row.justify-content-center.align-items-center.my-5 
                .col-auto
                    p.text-fz i
                .col-12.col-md-5
                    p Comparabilidad: los estados financieros son un instrumento esencial para evaluar lo sucedido y por ellos deben ser comparables de manera que se identifique la tendencia de la situación financiera y el resultado de sus operaciones.
                .col-auto
                    p.text-fz j
                .col-12.col-md-5
                    p Equilibrio entre costos y beneficio: el obtener la información en tiempo real y oportuno no debe exceder los costos de los beneficios que genera la oportunidad de tomar decisiones en el momento requerido.

img.my-5.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid  

.container
    .card
        .card-body
            .row.justify-content-center.align-items-center.mt-5
                .col-6
                    p Los elementos directamente relacionados con la medición de la posición financiera son los activos, pasivos y patrimonio. Estos se definen: 
            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/viñeta.png").img-fluid  
                .col-6
                    p.mb-0 Un activo es un recurso controlado por la entidad como resultado de acontecimientos pasados y del que el futuro económico se esperan beneficios que fluyan a la entidad.  

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/viñeta.png").img-fluid  
                .col-6
                    p.mb-0 Un pasivo es una obligación presente de la entidad surgida de sucesos pasados, cuya liquidación se espera que resulte en una salida de la entidad de recursos que incorporen beneficios económicos.   

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/viñeta.png").img-fluid  
                .col-6
                    p.mb-0 Patrimonio neto es la parte residual de los activos de la entidad, una vez deducidos todos sus pasivos. 

            h2.mt-5.text-center Los elementos de ingresos y gastos se definen como sigue: 
            .row.justify-content-center.align-items-center.my-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid 
                .col-12.col-md-6 
                    p a)	Ingresos son los incrementos en los beneficios económicos durante el período contable en forma de entradas o mejoras de los activos o disminuciones de los pasivos que dan como resultado aumentos del patrimonio neto, distintos de los relacionados con las contribuciones de los propietarios.
                    br
                    p b)	Gastos son los decrementos en los beneficios económicos durante el período contable en forma de salidas o el agotamiento de activos o incremento de pasivos, produciendo una disminución en el patrimonio neto, distintos de los relacionados con las distribuciones a los propietarios.
                    br
                    p Una partida que satisfaga la definición de un elemento debe ser reconocido si: a) es probable que cualquier beneficio económico futuro asociado con la partida llegue o salga de la entidad; y b) la partida tiene un costo o valor que pueda medirse con fiabilidad. La medición es el proceso de determinación de los importes monetarios por los que los elementos de los estados financieros deben ser reconocidos y llevados en el balance y cuenta de resultados. Esto implica la selección de la base particular de valoración.

            p El concepto de mantenimiento del capital se refiere a cómo una entidad define el capital que busca mantener. Suministra la conexión entre los conceptos de capital y el concepto de ganancia, porque proporciona el punto de referencia por el cual los beneficios se miden, es un prerrequisito para distinguir entre una entidad retorno sobre el capital y la devolución de capital.
            br
            p Sólo las entradas de activos que excedan las cantidades necesarias para mantener capital pueden ser consideradas como ganancia, y por tanto como rendimiento del capital. Uribe (2011) dice que:             
            img.img-a.my-5(src="assets/images/pages/ilustraciones/img7.png").img-fluid 
    #15
    .header-ecored
        h1 1.5 Objetivos de los estados financieros

    .card
        .card-body          
            .row.justify-content-center.align-items-center
                .col-12.col-md-6 
                    p El fin de las normas de información financiera es brindar información fidedigna que evidencie la realidad de cada transacción y/o hecho económico y que sea clara y comprensible por los diferentes usuarios de la información contable.
                    br
                    p Ramirez (2017), afima que: “De esta manera el objetivo de los estados financieros, debe ser satisfacer las necesidades y/o los interrogantes de la variedad de usuarios de la información financiera, siendo algunos de 
                .col-12.col-md-6 
                    img.img-a(src="assets/images/pages/ilustraciones/img8.png").img-fluid 
            p ellos propietarios, directores, entidades financieras, acreedores, el Estado, entre otros. Es decir, para unos ese objetivo está relacionado con conocer el resultado de la gestión en sus diferentes variantes como crecimiento, rentabilidad, solvencia, producción, entre otros”. 
    #16
    .header-ecored
        h1 1.6 Adopción por primera vez grupo 3 microempresas (COLGAAP) - ESFA

    .card
        .card-body
            p En la adopción por primera vez para las microempresas se generan cálculos para registrar y/o ajustar en la presentación del Estado de Situación Financiera (ESFA), referenciando la(s) norma(s) a que se deben acoger en cada paso. Se incluye: disponible, certiﬁcaciones – inversiones, deudores, inventarios, gastos pagados por anticipado, resultado de ejercicios anteriores, cargos diferidos, propiedades, planta y equipo, valorizaciones, cuentas por pagar, pasivos por impuestos, revalorización del patrimonio, conciliación patrimonial y presentación del Estado de Situación Financiera (ESFA).  
    #17
    .header-ecored
        h1 1.7 Microempresa

    .card
        .card-body
            p Se han considerado microempresa según la Ley 590 de 2000, modificada por la Ley 905 de 2004, sin embargo, el artículo 1 del Decreto 3019 de 2013 estableció que se aplicarán estas NIF las microempresas que cumplan la totalidad de los siguientes requisitos: 

            h2.text-center.my-5 GRUPO 3. MICROEMPRESAS - REQUISITOS

            .row.justify-content-center.align-items-center
                .col-12.col-md-2
                    img.img-a(src="assets/images/pages/ilustraciones/img10.png").img-fluid

                .col-12.col-md-2
                    img.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid 

                .col-12.col-md-2
                    img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid 

                .col-12.col-md-2
                    img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid 

                .col-12.col-md-2
                    img.img-a(src="assets/images/pages/ilustraciones/img14.png").img-fluid 
    #18
    .header-ecored
        h1 1.8 Presentación de reportes financieros

    .card
        .card-body
            h2 NIC 1 PRESENTACIÓN DE ESTADOS FINANCIEROS 
            img.img-a.my-5(src="assets/images/pages/ilustraciones/img15.png").img-fluid 
            img.img-a(src="assets/images/pages/ilustraciones/img16.png").img-fluid

            p.mt-5 Una entidad cuyos estados financieros cumplan las NIIF efectuará, en las notas, una declaración, explícita y sin reservas, de dicho cumplimiento. Una entidad no señalará que sus estados financieros cumplen con las NIIF a menos que satisfagan todos los requerimientos de éstas.
            br
            p Se presume que la aplicación de las NIIF, acompañada de información adicional cuando sea preciso, dará lugar a estados financieros que proporcionen una presentación razonable. Al elaborar los estados financieros, la gerencia evaluará la capacidad que tiene una entidad para continuar en funcionamiento. Una entidad elaborará los estados financieros bajo la hipótesis de negocio en marcha, a menos que la gerencia pretenda liquidar la entidad o cesar en su actividad, o bien no exista otra alternativa más que proceder de una de estas formas. Cuando la gerencia, al realizar esta evaluación, sea consciente de la existencia de incertidumbres importantes, relativas a eventos o condiciones que puedan aportar dudas significativas sobre la posibilidad de que la entidad siga funcionando normalmente, procederá a revelarlas en los estados financieros.

            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img17.png").img-fluid 

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/1.png").img-fluid  
                .col-6
                    p.mb-0 Una entidad presentará por separado cada clase significativa de partidas similares. Una entidad presentará por separado las partidas de naturaleza o función distinta, a menos que no tengan importancia relativa. 
                    hr.bd-hr-yellow 

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/2.png").img-fluid  
                .col-6
                    p.mb-0 Una entidad no compensará activos con pasivos o ingresos con gastos a menos que así lo requiera o permita una NIIF.
                    hr.bd-hr-yellow     

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/3.png").img-fluid  
                .col-6
                    p.mb-0 Una entidad presentará un juego completo de estados financieros (incluyendo información comparativa) al menos anualmente.
                    hr.bd-hr-yellow     

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/4.png").img-fluid  
                .col-6
                    p.mb-0 A menos que las NIIF permitan o requieran otra cosa, una entidad revelará información comparativa respecto del periodo anterior para todos los importes incluidos en los estados financieros del periodo corriente. 
                    hr.bd-hr-yellow     

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/5.png").img-fluid  
                .col-6
                    p.mb-0 Una entidad incluirá información comparativa para la información de tipo descriptivo y narrativo, cuando esto sea relevante para la comprensión de los estados financieros del periodo corriente. 
                    hr.bd-hr-yellow     

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/6.png").img-fluid  
                .col-6
                    p.mb-0 Cuando la entidad modifique la presentación o la clasificación de partidas en sus estados financieros, también reclasificará los importes comparativos, a menos que resulte impracticable hacerlo. 
                    hr.bd-hr-yellow     

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/7.png").img-fluid  
                .col-6
                    p.mb-0 Una entidad identificará claramente los estados financieros y los distinguirá de cualquier otra información publicada en el mismo documento. 
                    hr.bd-hr-yellow

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-4
                    p.mb-0 La NIC 1 requiere que una entidad presente, en el estado de cambios en el patrimonio, todos los cambios en el patrimonio que proceden de los propietarios. Todos los cambios en el patrimonio 
                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img18.png").img-fluid  
                .col-12.col-md-4
                    p.mb-0 que no proceden de los propietarios (es decir en el resultado integral) se requiere que se presenten en un estado del resultado integral o en dos estados (un estado del resultado separado y un estado del resultado integral). 

            p.mt-5 Dentro de los componentes del resultado integral, no está permitido que se presenten en el estado de cambios en el patrimonio. Una entidad reconocerá todas las partidas de ingreso y gasto de un periodo en el resultado a menos que una NIIF requiera o permita otra cosa.

            h2.mt-5 En las notas:

            .row.justify-content-center.align-items-center.mt-5
                .col-8.border-radius.bg-color-note.py-5.px-5
                    p  a).  Presentará información acerca de las bases para la preparación de los estados financieros, y sobre las políticas contables específicas utilizadas de acuerdo con los párrafos 117 a 124.
                    br
                    p b).  Revelará la información requerida por las NIIF que no haya sido incluida en otro lugar de los estados financieros.
                    br
                    p c)   Proporcionará información que no se presenta en ninguno de los estados financieros, pero que es relevante para entender a cualquiera de ellos.  

            p.mt-5 Siempre que tengan un efecto significativo sobre los importes reconocidos en los estados financieros, una entidad revelará, en el resumen de las políticas contables significativas o en otras notas, los juicios, diferentes de aquéllos que impliquen estimaciones (véase el párrafo 125), que la gerencia haya realizado en el proceso de aplicación de las políticas contables de la entidad.
            br 

            p Una entidad revelará información sobre los supuestos realizados acerca del futuro y otras causas de incertidumbre en la estimación al final del periodo sobre el que se informa, que tengan un riesgo significativo de ocasionar ajustes significativos en el valor en libros de los activos o pasivos dentro del periodo contable siguiente. 
            br
            p Una entidad revelará información que permita que los usuarios de sus estados financieros evalúen los objetivos, las políticas y los procesos que ella aplica para gestionar el capital. 
            br
            p Una entidad revelará información adicional sobre instrumentos financieros con opción de venta clasificados como patrimonio neto.

            h2.mt-5.text-center Algunas características de los Estados Financieros

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid  
                .col-12.col-md-6
                    strong Materialidad
                    p.mt-0 Evaluar la capacidad que tiene la información de forma individual o en conjunto para influir en las decisiones económicas de los usuarios.
            .row.justify-content-center.align-items-center
                .col-12.col-md-8
                    hr.bd-hr-yellow

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid  
                .col-12.col-md-6
                    strong Hipótesis de negocio en marcha
                    p.mt-0 Determinar la capacidad que tiene la entidad para continuar en funcionamiento.
            .row.justify-content-center.align-items-center
                .col-12.col-md-8
                    hr.bd-hr-yellow

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid  
                .col-12.col-md-6
                    strong Comparabilidad
                    p.mt-0 Presentar como mínimo, la información del periodo actual y del anterior, incluyendo todos los importes de los estados financieros respectivos.
            .row.justify-content-center.align-items-center
                .col-12.col-md-8
                    hr.bd-hr-yellow

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid  
                .col-12.col-md-6
                    strong Uniformidad en la información
                    p.mt-0 La entidad debe guardar una homogeneidad en la estructura y clasificación de las partidas de los estados financieros de periodo a periodo.
            .row.justify-content-center.align-items-center
                .col-12.col-md-8
                    hr.bd-hr-yellow

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid  
                .col-12.col-md-6
                    strong Frecuencia de la información
                    p.mt-0 Se deben presentar los estados financieros al menos de forma anual.
            .row.justify-content-center.align-items-center
                .col-12.col-md-8
                    hr.bd-hr-yellow

            .row.justify-content-center.align-items-center.my-5
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid 
                .col-12.col-md-6 
                    p El objetivo de la información financiera con propósito general constituye el fundamento del marco conceptual de estos estados y de otros aspectos que reconoce la entidad como el reconocimiento, medición, presentación e información por revelar los resultados de la gestión que se derivan lógicamente del objetivo básico financiero.
                    br
                    p Los estados financieros, con propósito de información general para sus propietarios, acreedores actuales y potenciales y agencias calificadoras de riesgos (S1.2), son la fuente de información para los hombres de negocio.
                    br
                    p Su responsabilidad está a cargo del gerente y del contador, quienes deben certificarlos y acompañarlos del informe del revisor fiscal y de gestión de la gerencia para la aprobación de la junta directiva y su respectiva publicación, antes de presentarlos a los órganos de decisión y su respectiva discusión en las juntas de socios o asambleas generales. 

            p El ente económico está funcionalmente compuesto por cuatro elementos: los recursos, los procesos, los productos y los clientes, quienes producen los resultados de la gestión medidos en la eficiencia, eficacia y productividad. Los recursos que administra una entidad son variados, tales como: el capital de trabajo, los bienes de capital, inversiones fijas o gastos preoperativos. 
            br
            p Los procesos de administración de planta deben estar debidamente documentados y probados con las mejores prácticas de negocio; entre los más relevantes están los protocolos de producción, seguridad industrial, alistamiento de maquinaria y mantenimiento, los cuales deben generar la eficiencia. Las NIIF ofrecen en nuevo lenguaje financiero común para una comunidad globalizada y con un alto grado de conocimiento en los negocios.  

            .row.justify-content-center.align-items-center.mt-5
                .col-8.border-radius.bg-color-note.py-5.px-5
                    p Los estados financieros también muestran los resultados de la gestión llevada a cabo por la gerencia, dan cuenta de la responsabilidad en la gestión de los recursos confiados a la misma (S2.3). 
                    br
                    p La entidad mantendrá la presentación y clasificación de las partidas de los estados financieros en forma uniforme de un periodo a otro, a menos que se presente un cambio importante en la naturaleza de la actividad y se ponga de manifiesto otra presentación o clasificación (3.11). 
                    br
                    p A continuación, se presentan los elementos que integran los estados financieros con NIIF para pymes y organizaciones plenas.

            h2.mt-5.text-center Elementos de los estados financieros

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img25.png").img-fluid 

                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid 

            p.mt-5 La entidad presentará por separado cada clase significativa de partidas similares, a menos que tengan importancia relativa (S3.15). El conjunto completo de estados financieros de una entidad incluye:
            ul.my-5
                li.text-org
                    h3.text-black Estado de Situación Financiera en la fecha sobre la cual se informa.

                li.text-org
                    h3.text-black Estado del resultado integral o un estado de resultado separado. 

                li.text-org
                    h3.text-black Notas.
            
            p Una entidad debe efectuar en nota una declaración, explícita y sin reservas, de cumplimiento de las NIIF para pymes (S3.3). La gerencia que usa NIIF para pymes incluye en los estados financieros la evaluación de la capacidad de la entidad para continuar en funcionamiento (hipótesis de negocio en marcha) (S3.8). La frecuencia de presentación del juego completo de estados financieros, incluyendo los comparativos, será al menos anual (S3.10).

            h2.mt-5.text-center Objetivos de los Estados Financieros
            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-8            
                    h3.mt-5 Elementos de los estados financieros 

            .row.justify-content-center.align-items-stretch.mt-5
                .col-12.col-md-4.bg-color-note.py-5.px-5.border-radius.mr-2 

                    h3.mb-5 NIIF para pymes
                    p Proporcionar información financiera sobre la situación financiera, el rendimiento y los flujos de efectivo de la entidad que sea útil para la toma de decisiones económicas de usuarios que no están en condiciones de exigir informes a su medida

                .col-12.col-md-4.bg-color-note-1.py-5.px-5.border-radius.ml-2

                    h3.mb-5 NIIF plenas
                    p Proporcionar información financiera sobre la entidad que informa que sea útil a los inversores, prestamistas y otros acreedores existentes y potenciales para la toma de decisiones.

            h2.mt-5.text-center Estado de Situación Financiera
            p.mt-5.text-center Antes conocido como balance general. Este debe incluir como mínimo las siguientes partidas:  
            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6 
                    img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid 
                .col-12.col-md-6 
                    ul
                        li.text-org
                            p.text-black Efectivo y equivalentes al efectivo (S11). 

                        li.text-org
                            p.text-black Deudores comerciales y otras cuentas por cobrar (S11). 
                            
                        li.text-org
                            p.text-black Activos financieros [sin incluir los importes mostrados en (a), (b), (j) y (k)] (S11 y S12).      

                        li.text-org
                            p.text-black Inventarios (S13).      

                        li.text-org
                            p.text-black Propiedades, planta y equipo (S17).       

                        li.text-org
                            p.text-black Propiedades de inversión registradas al valor razonable con cambios en resultados (S16).       

                        li.text-org
                            p.text-black Activos intangibles (S18).      

                        li.text-org
                            p.text-black Activos biológicos registrados al costo menos la depreciación acumulada y el deterioro del valor (S34).       

                        li.text-org
                            p.text-black Activos biológicos registrados al valor razonable con cambios en resultados (S34).       

                        li.text-org
                            p.text-black Inversiones en asociadas (S14).      

                        li.text-org
                            p.text-black Rendimiento financiero de la empresa, o resultados del periodo. 

            
            p.py-5.px-5.bg-color-note.text-center.border-radius.mt-5 La entidad presentará por separado cada clase significativa de partidas similares, a menos que tengan importancia relativa (S3.15). 

            .row.justify-content-center.align-items-center.mt-5
                .col-10.border-radius-color
                    .row.justify-content-center.align-items-center.py-5
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/img28.png").img-fluid 
                        .col-8
                            h2 Tablas anexas que describen:
                            ul
                                li.text-org
                                    h3.text-black Situación financiera 

                                li.text-org
                                    h3.text-black Estado de Resultados Integrales 
                            p El estado del resultado integral es el mismo estado de resultados adicionados con otros resultados integrales como ganancias y pérdidas en potencia y que se generan en los siguientes ejercicios contables.

                    .row.justify-content-center.align-items-center.py-5
                        .col-9.bg-color-note-1.py-5.border-radius
                            .row.justify-content-center.align-items-center
                                .col-auto
                                    img.img-a(src="assets/images/pages/ilustraciones/img29.png").img-fluid
                                .col-8.text-center
                                    a(href="https://unctad.org/es/Docs/diaeed20092_sp.pdf" target="_blank") https://unctad.org/es/Docs/diaeed20092_sp.pdf                                                                                                                              