
.container
    .header-ecored
        h1 3. Deterioro recuperable

    .card
        .card-body
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid                
                .col-12.col-md-6
                    p El CTPC (Consejo técnico de la contaduría pública) hace la aclaración,  que el “valor recuperable y/o deterioro recuperable” está orientado a la pérdida del valor causada por deterioro. Y se establece para revertir el deterioro. Al final de cada periodo informado, una microempresa, evaluará, si existe deterioro o recuperación del valor de los activos con evidencias que lo soporten. Cuando exista evidencia objetiva de deterioro del valor, la microempresa debe reconocer inmediatamente en cuentas de resultado una pérdida por deterioro de valor. 
                    br
                    p Para medir la pérdida por deterioro se debe tener en cuenta la diferencia entre el valor en libros del activo y la mejor estimación si el activo llegare a venderse o realizar es lo que contablemente se debe manejar porque al realizar a parir del valor realizable o de venta. 




