
.container
    .header-ecored
        h1 4. Base contable de acumulación o devengo

    .card
        .card-body
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    p Una microempresa elaborará sus estados financieros utilizando la base contable de causación (acumulación o devengo). Los efectos de las transacciones y demás sucesos se reconocen cuando ocurren y no cuando se recibe o se paga  dinero u otro equivalente al efectivo en los periodos con los cuales se relacionan.
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid


