
.container
    .header-ecored
        h1 5. Correcciones de errores de periodos anteriores

    .card
        .card-body
            p Se puede entender como errores de periodos anteriores a omisiones o datos incorrectos redistrado en los estados financieros de una microempresa  de uno o más periodos anteriores. Puede suceder al ignorar información que:  

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid
                .col-6
                    p Estaba disponible cuando los estados financieros para esos periodos estaban autorizados para emitirse.

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid
                .col-6
                    p Podría esperarse razonablemente que se hubiera conseguido y tenido en cuenta para la elaboración  y presentación de esos estados financieros. 
            p.mt-5 La microempresa deberá revelar la naturaleza del error, el monto de la acción y su efecto para cada uno de los rubros en los estados financieros, reconociendolo en los resultados del mismo periodo en que la equivocación haya sido detectada.                                

            .sub-line
                h2.mt-5 NIC 8 Políticas contables, cambios en contabilidad, estimaciones y errores.  

                p.mt-5 El objetivo de esta Norma es determinar los criterios para seleccionar y cambiar políticas contables, además el procedimeinto contable y  la revelación de cambios en las políticas contables, cambios en la contabilidad, estimaciones y correcciones de errores. La norma pretende aumentar la relevancia, fiabilidad de los estados financieros de la  organización o entidad, y obtener la trazabuilidad de estados financieros emitidos comparables  con los estados de otras entidades. 

            .row.justify-content-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/41.png").max-width.img-fluid
                .col-9
                    p Las políticas contables son los principios, bases, convenciones, reglas y prácticas ejercidas por la entidad para la preparación y presentación de estados financieros. 
                    br
                    p Cuando una Norma sea específicamente aplicable a una transacción, evento o condición, la política o políticas contables aplicadas a esa partida se determinarán aplicando la norma concreta. 
                    br
                    p Se determinarán mediante la aplicación de las NIIF, teniendo en cuenta la  <i>Guía de implementación relevante</i>, emitida por el IASB (Reportes Financieros de Contabilidad Internacional) de las NIIF.  
                    br
                    p En ausencia de una  Norma, la gerencia deberá usar su juicio para desarrollar y aplicar una política contable, con el fin de suministrar información relevante y confiable.  Para ello deberá considerar su aplicabilidad teniendo en cuenta las siguientes fuentes en  orden descendente: 

                    .row.justify-content-center.align-items-center.mt-5
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid
                        .col-6
                            p Los requisitos y la orientación en las NIIF se ocupan de cuestiones similares y afines.

                    .row.justify-content-center.align-items-center.mt-5
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid
                        .col-6
                            p Las definiciones, los criterios de reconocimiento y valoración de los activos, pasivos, ingresos y gastos en el Marco. 
            
            p.mt-5 La entidad seleccionará y aplicará sus políticas contables para transacciones similares y otros eventos y condiciones, a menos que específicamente una NIIF requiera o permita la clasificación de partidas para las que las diferentes políticas puedan ser apropiadas. Si una NIIF requiere o permite esta categorización, una política contable adecuada debe ser seleccionada y aplicada de conformidad a cada categoría.
            br
            p Una entidad cambia una política contable sólo si el cambio: 
            br
            p a) es requerida por una NIIF, o b) los resultados en los estados financieros suministren información más relevante y fiable sobre los efectos de transacciones, otros eventos o condiciones sobre la situación financiera de la entidad, el rendimiento financiero o en efectivo los flujos. 
            br
            p La entidad contabilizará un cambio en la política contable resultante de la aplicación inicial de las NIIF de conformidad con las disposiciones transitorias específicas, si las hubiere, en que las NIIF. Cuando una entidad cambie una política contable sobre la aplicación inicial de una NIIF que no incluye disposiciones transitorias específicas la aplicación de esta modificación, o cambia una política contable voluntaria, se aplicará el cambio a posteriori. Sin embargo, un cambio en la política contable se aplicará retroactivamente, salvo en la medida en que se impracticable determinar los efectos específicos del período o el efecto acumulado del cambio.

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/42.png").max-width.img-fluid
                .col-9
                    h3 Un <b>cambio en una estimación contable</b> se produce si existe nueva información o nuevos hechos, por lo tanto no son errores.  Son ajustes en el importe de libros de un activo o un pasivo. 

            .row.justify-content-center.mt-5           
                .col-12.col-md-6
                    p El uso de estimaciones razonables es una parte esencial de la preparación de los estados financieros y no menoscabar su fiabilidad. Un cambio en una estimación contable es un ajuste del valor en libros de un activo o un pasivo, o el importe del consumo periódico de un activo, que los resultados de la evaluación del estado actual de, y los beneficios futuros esperados y las obligaciones asociadas con los activos y pasivos. Los cambios en la contabilidad resultado de las estimaciones de nueva información o nuevos acontecimientos y, en consecuencia, no son correcciones de errores. 
                    br
                    p El efecto de un cambio en una estimación contable, se reconocerá de forma prospectiva incluyendo las utilidades o perdidas en el resultado de: a) el período del cambio, si el cambio afecta a ese período sólo, o b) el período del cambio y los futuros, si el cambio afecta a ambos.
                    br
                    p Errores de periodos anteriores son las omisiones e inexactitudes en los estados financieros de la entidad para una o más períodos anteriores derivadas de la falta de uso o mal uso de información fiable que: a) estaba disponible cuando los estados financieros para los períodos fueron autorizados para su emisión, y b) podría esperarse razonablemente que se ha conseguido y tenido en cuenta en la preparación y presentación de dichos estados financieros. 

                .col-12.col-md-6

                    p Tales errores incluyen los efectos de errores aritméticos, errores en la aplicación de políticas contables, o malas interpretaciones de los hechos, y el fraude. Salvo en la medida en que sea impracticable determinar el efecto específico del período o acumulativos del efecto del error, la entidad corregirá los errores materiales del período anterior a posteriori en el primer grupo de estados financieros autorizados para su emisión después de su descubrimiento por:
                    br
                    p a) la reexpresión de las cifras comparativas para el período anterior(es) presentado(s) en el que se produjo el error, o b) si el error ocurrió antes del ejercicio inmediatamente anterior, corrigiendo los saldos iniciales de activos, pasivos y patrimonio para el ejercicio inmediatamente anterior. 
                    br
                    p Omisiones o inexactitudes de partidas son materiales si pueden, individual o colectivamente, influir en las decisiones económicas tomadas por los usuarios sobre la base de los estados financieros. La importancia relativa depende del tamaño y de la omisión o inexactitud, enjuiciada en las circunstancias. El tamaño o la naturaleza del tema, o una combinación de ambas, podría ser el factor determinante. 
            .sub-line
                h2.mt-5 NIC 10. Hechos ocurridos después del periodo sobre el que se informa 

            p El objetivo de esta Norma es establecer el tiempo cuándo una entidad debería ajustar sus estados financieros, por hechos ocurridos después del periodo sobre el cual informa. Tambien, la información que una entidad debería revelar y  efectuar respecto a la fecha en que los estados financieros fueron autorizados para su publicación, así como los hechos ocurridos después del periodo sobre el que informa. 
            br
            p La Norma requiere también que una entidad no debería elaborar sus estados financieros bajo la hipótesis de negocio en marcha, si los hechos ocurridos después del periodo sobre el que informa indican que dicha hipótesis no resulta apropiada. 
            br
            p.mb-5 Los hechos ocurridos después del periodo sobre el que informa son todos aquellos eventos, ya sean favorables o desfavorables, que se han producido entre el final del periodo sobre el que informa y la fecha de autorización de los estados financieros para su publicación. Pueden identificarse dos tipos de eventos:

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid
                .col-6
                    p Aquellos que proporcionan evidencia de las condiciones que existían al final del periodo sobre el que informa (hechos ocurridos después del periodo sobre el que se informa que implican ajuste).

            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid
                .col-6
                    p Aquellos que son indicativos de condiciones que han aparecido después del periodo sobre el que se informa (hechos ocurridos después del periodo sobre el que se informa que no implican ajuste). Una entidad ajustará los importes reconocidos en sus estados financieros, para reflejar la incidencia de los hechos ocurridos después del periodo sobre el que se informa que impliquen ajustes. 

            p.mt-5 Una entidad no ajustará los importes reconocidos en sus estados financieros, para reflejar hechos ocurridos después del periodo sobre el que se informa que no impliquen ajustes. Si hechos ocurridos después del periodo sobre el que se informa que no implican ajuste son materiales, no revelar esta información puede influir en las decisiones económicas que los usuarios puedan tomar sobre la base de los estados financieros.
            br
            p Por consiguiente, una entidad revelará la siguiente información sobre cada categoría significativa de hechos ocurridos después del periodo sobre el que se informa que no implican ajuste: a) la naturaleza del evento; y b) una estimación de sus efectos financieros, o un pronunciamiento sobre la imposibilidad de realizar tal estimación. Si, después del periodo sobre el que se informa, una entidad recibiese información acerca de condiciones que existían al final del periodo sobre el que se informa, actualizará la información a revelar relacionada con esas en función de la información recibida.   