.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Análisis de ciclo de vida del producto:
            | es el ciclo en que este existe desde su concepción hasta que es abandonado.
        
        p
            strong.mr-2 Administración de la Base de datos:
            | motivar la cultura y crear conciencia en el manejo de la base de datos en las organizaciones.
        p 
            strong.mr-2 Benchmarking:
            | proceso de comparar y medir continuamente una organización con líderes del negocio (globalmente) y obtener información para mejorar desempeño. 
        p 
            strong.mr-2 Cadena de valor y sus eslabones:
            | conjunto de actividades interrelacionadas creadoras de valor. Análisis de actividades, base para el sistema de costos.
        p 
            strong.mr-2 Costeo ABC (Activity Based Costing):
            | las actividades se encadenan en conjuntos que forman procesos.
        p 
            strong.mr-2 COLGAAP:
            | Generally Accepted Accounting Principles, tradiuce Principios de Contabilidad Generalmente Aceptados (en español, PCGA), cuando se antecede siglas adicionales, refiere a la particularidad de un país, en es este caso COL de Colombia, traduce, principios de contabilidad generalmente aceptados en Colombia.

        p 
            strong.mr-2 Cuadro de Mando integral (Balance Scorecard):
            | es una herramienta que interrelaciona los indicadores de control tradicionales financieros con otros no financieros, para medir en conjunto los logros de los objetivos estratégicos desde los puntos de: clientes, accionistas, procesos internos y el recurso humano. 
        p 
            strong.mr-2 Cualidades de Liderazgo:
            | habilidades que le permiten al Contador Profesional asumir posición de influencia mediante la consecución y apalancamiento de diversidad de recursos que orientan los problemas y las oportunidades través de la organización.
        p 
            strong.mr-2 Experticia profesional:
            | son las habilidades técnicas profesionales que tienen los contadores y que hacen parte de su capacidad única para entender una organización desde una perspectiva que no tienen otros profesionales.  "
      
        p 
            strong.mr-2 FASB:
            | Financial Accounting Stándard Board. Junta Estándar de Contabilidad Financiera.
        p 
            strong.mr-2 FMI:
            | Fondo Monetario Internacional.
        p 
            strong.mr-2 IAS:
            | International Standard Accounting. Contabilidad Estándar Internacional.
        p 
            strong.mr-2 IASC:
            | International Accounting Stándards Committee. Comité Internacional de Estándares de Contabilidad. 
        p 
            strong.mr-2 IASB:
            | International Financial Reporting Standards. Normas Internacionales de Información Financiera.
        p 
            strong.mr-2 Importe:
            | valor a registrar como resultado de un hecho económico.
        p 
            strong.mr-2 Indicadores de Gestión:
            | establecer “medidores” que reflejen resultados actuales y potenciales.
        p 
            strong.mr-2 IOSCO:
            | Organización Internacional de Comisiones de Valores.
        p 
            strong.mr-2 Medición:
            | proceso de determinación de los importes monetarios por los que se reconocen y llevan contablemente los elementos de los estados financieros, para su inclusión en el balance (estado de situación financiera) y el estado de resultados (estado del resultado integral).
        p 
            strong.mr-2 NCI:
            | Normas Internacionales de Contabilidad.
        p 
            strong.mr-2 NCIF:
            | Normas de Convergencia de Información Financiera.
        p 
            strong.mr-2 NIIF:
            | Normas Internacionales de Información Financiera.
        p 
            strong.mr-2 Perspectiva amplia de Negocios:
            | entendimiento amplio de las organizaciones, su Industria y las prácticas de contabilidad Gerencial, así como la aplicabilidad.
        p 
            strong.mr-2 Planeamiento estratégico:
            | Enfocado al cumplimiento de la Visión y Misión.
        p 
            strong.mr-2 Presupuesto como elemento de control de Gestión:
            | herramienta de uso de forma  dinámica con el concepto de presupuesto flexible.
        p 
            strong.mr-2 Reconocimiento:
            | proceso de incorporación, en el balance (estado de situación financiera) o en el estado de resultados (estado del resultado integral), de una partida que cumpla la definición del elemento correspondiente y que satisfaga los siguientes criterios para su reconocimiento: (a) que sea probable que cualquier beneficio económico asociado con la partida llegue a, o salga de la entidad, y (b) el elemento tiene un costo o valor que pueda ser medido con fiabilidad.
        p 
            strong.mr-2 Subsidiaria:
            | es una entidad donde la controladora [casa matriz] ha hecho sus inversiones para obtener beneficios en el futuro económico.
        p 
            strong.mr-2 Target Costing:
            | constituye una herramienta que trata de asegurar una rentabilidad de la empresa antes de lanzar un producto. Es una técnica de gestión de costos, si el objetivo es conseguir un determinado beneficio, la única forma de lograrlo es a través de la optimización de los costos. 
        p 
            strong.mr-2 Valor económico agregado (EVA): 
            |Medida de rendimiento de la empresa que indica cuanto valor se crea con el capital invertido.                                                                                   

